body
{
font-size:14pt;
line-height:;
font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
background-color:#ffffff;
width:100%;
background-repeat:repeat;
text-align:;
margin:0px;
color:#000000;
direction:;
background-image:url();

}
p
{
padding-right: 4px;
padding-left: 4px;

}
a
{
color:#000000;
text-decoration:none;
font-weight:bold;
font-size:14pt;

}
a:visited
{
color:#000000;
text-decoration:none;
font-weight:bold;

}
h1
{
font-family: "Lucida Sans Unicode";
font-size: 18pt;
color: #474747;
font-weight: regular;

}
h2
{
ffont-family: "Lucida Sans Unicode";
font-size: 14pt;
color: #474747;
font-weight: regular;

}
h3
{
font-family: "Lucida Sans Unicode";
font-size: 12pt;
color: #474747;
font-weight: bold;

}
li
{
font-family: "Lucida Sans Unicode";
font-size: 11pt;
font-style: normal;
line-height: normal;
padding: 0px;
margin-bottom:10px;
color: #666666;

}
.itemimage
{
border:solid 0px #aaa;
max-width:100px;
width: expression(this.width > 100 ? 100: true);
vertical-align:middle;

}
.iimage
{
border:solid 0px #aaa;
max-width:320px;
width: expression(this.width > 320 ? 320: true);
vertical-align:middle;

}
ol
{
list-style-type: decimal;

}
ul
{
list-style-type: square;

}
/*iconmenucssaddition2*/.iconmenulistcontainer
{
  padding: 0;
  margin: 0;
  list-style: none;

}
.iconmenucontainer
{
  border-bottom:solid 1px #c8c8c8;
  background:white;
  margin: 0;

}
.iconmenuitemlink
{
  display:block;
  font-size: 16px;
  font-family: sans-serif;
   font-weight: 100;
  color:#000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);

}
.iconmenuimgcontainer
{
  float:left;
  max-width:30px;
   padding: 10px 5px 10px 7px;

}
 .iconmenuitemimage
{
  vertical-align: middle;
  padding: 0;
  height: 23px;
  width: 23px;
  border:0;

}
.iconmenuimgarrowcontainer
{
  float:right;
   padding: 14px 10px 13px;
   vertical-align: middle;

}
.iconmenuimgarrow
{
  border: none;
  max-width: 100%;
  vertical-align: middle;
  width: 10px;

}
.iconmenutitle
{
  font-size:16px;
  font-family: sans-serif;
  font-weight: normal;
  color:#000;
  float:left;
  padding: 14px 5px 13px;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
font-size:14pt;

}

